/* Globales */
*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Lato';
    color: #333;
}

.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #000;
}

.icon-cart:hover{
    cursor: pointer;
}

img{
    max-width: 100%;
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0;
}

.container-icon{
    position: relative;
}

.count-products{
    position: absolute;
    top: 55%;
    right: 0;

    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos{
    font-size: 12px;
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-size: 20px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}

.row-product {
    display: flex;
    flex-direction: column; 
  }
  
  .cart-product {
    display: flex;
    align-items: center; 
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px; 
  }
  
  .info-cart-product {
    flex: 1; 
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }
  
  .imagen-producto-carrito {
    max-width: 100px; 
    height: auto; 
  }


/* Main */
.container-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}



.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item {
    background-color:lightskyblue;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column; /* Cambio a direcci贸n de columna para apilar los elementos */
    align-items: center;
    text-align: center; /* Centrar el contenido en el eje horizontal */
    height: 450px; /* Altura fija para el contenedor */
    width: 350px; /* Ancho fijo para el contenedor */
    position: relative;
}

.item img {
    width: 325px;
    height: 250px; /* Auto para mantener la proporci贸n original */
    border-radius: 4px;
    margin-bottom: 10px; /* Espacio entre la imagen y la descripci贸n */
    margin-top: 10px;
}

.item figure{
    overflow: hidden;
}
.encabezado{
    background-color: yellow;
    width: 100%;
}
header{
    width: 100%;
}
.item:hover img{
    transform: scale(1.2);
}

.info-product {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribuir el contenido de manera uniforme */
    align-items: center; /* Centrar en el eje horizontal */
}
.info-product h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

.price {
    font-size: 20px;
    font-weight: bold;
    color: black; /* Color destacado para el precio */
    margin-bottom: 10px; /* Espacio entre la descripci贸n y el precio */
    font-family: Arial, Helvetica, sans-serif;
}

.info-product h2 {
    font-size: 25px;
    margin-bottom: 5px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.info-product h2:last-child {
    color: black;
    font-size: 16px;
}
.cantidad {
    width: 40px;
    margin-right: 30px;
}
button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    
   
}

button:hover {
    background-color: #c0392b;
}

.info-product button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}

.cart-empty{
    padding: 20px;
    text-align: center;
}


.hidden{
    display: none;
}